.post-component {
  width: calc(100vw - 80px);
  margin: 15px 0;
  padding: 5px;
  text-align: center;
  overflow: hidden;
  .card-post {
    height: 150px;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    width: calc(50vw - 80px);
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    width: calc(33vw - 80px);
  }
}
